body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px; /* Lebar container */
    transition: width 0.3s ease-in-out; /* Efek animasi transisi */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 10px;
    margin-bottom: 16px;
    width: 100%; /* Lebar input 100% dari parent */
    box-sizing: border-box; /* Sesuaikan lebar dengan padding dan border */
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.error-message {
    color: #ff0000;
    margin-bottom: 10px;
}

/* Animasi untuk container saat hover */
.container:hover {
    width: 350px; /* Lebar container saat hover */
}
